form(action="/movies/", method="POST")
    div
      input(type="text", name="title" placeholder="Name")
      input(type="text", name="img" placeholder="image")
      textarea(name="description", cols="30", rows="10" placeholder="Desc")
      input(type="number", name="duration" placeholder="Duration (min)")

      button(type="submit") picale